<html>
  <body>
    <h1>mruby editor</h1>
    <form action='/compile' method='post'>
      <textarea name="s" cols=80 rows=30></textarea>
      <br />
      キー：<input type="text" name="key" />
      <br />
      <input type="submit" value="compile"/ >
    </form>
  </body>
</html>
